.list {
    width: 70%; 
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 30px; 
}

.charts{
    width: 30%; 
    margin-left: 0.5%;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 30px;
}

form{
    display: flex;
}

.search input {
    margin: 0.5em;
}

.health-score input{
    margin-top: 0.5em
}

.diet-filter input {
    margin: 0.4em 0.2em 0 1em;
}

.diet-filter {
    flex-grow: 1;
}

.search-btn {
    margin: 1% 0.5%;
}